<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ourcleaner_201008_java">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- SMS Permission -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 이미지 작업 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 이미지 작업 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 현재 위치 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".View.Manager.Manager_AlarmActivity"></activity>
        <activity android:name=".View.Service_SelectManager_DetailActivity" />
        <activity android:name=".View.Service_SelectManagersActivity" />
        <activity android:name=".View.Manager.Manager_InputActivePlaceActivity" />
        <activity android:name=".View.Manager.Manager_InputMyPlaceActivity" />
        <activity android:name=".View.Manager.Manager_TermsMoreActivity" />
        <activity android:name=".View.Manager.Manager_ProfileActivity" />
        <activity android:name=".View.Manager.Manager_Signin4Activity" />
        <activity android:name=".View.Manager.Manager_SigninGuide2Activity" />
        <activity android:name=".View.Manager.Manager_SigninGuide1Activity" />
        <activity android:name=".View.Manager.Manager_Signin3Activity" />
        <activity android:name=".View.Manager.Manager_Signin2Activity" />
        <activity android:name=".View.Manager.Manager_Signin1Activity" />
        <activity android:name=".View.MyPlace_EditActivity" />
        <activity android:name=".View.Manager.Manager_Acount_Activity" />
        <activity android:name=".View.Service_DetailActivity" />
        <activity android:name=".View.Manager.Manager_Detail_MatchingPostActivity" />
        <activity android:name=".View.Manager.Manager_MoreActivity" />
        <activity android:name=".View.Manager.Manager_ChatActivity" />
        <activity android:name=".View.Manager.Manager_ReservationActivity" />
        <activity android:name=".View.Manager.Manager_MainActivity" />
        <activity android:name=".View.Manager.Manager_SigninActivity" />
        <activity android:name=".View.Manager.Manager_LoginActivity" />
        <activity android:name=".View.MoreService_MyPlace_Activity" />
        <activity android:name=".View.MoreService_Acount_Activity" />
        <activity android:name=".View.MoreService_Payment_Activity" />
        <activity android:name=".View.MoreService_Area_Activity" />
        <activity android:name=".View.Service_completeActivity" />
        <activity android:name=".View.Service3_Activity" />
        <activity android:name=".View.Service2_InfoActivity" />
        <activity android:name=".View.Placeinput3Activity" />
        <activity android:name=".View.Placeinput2Activity" />
        <activity android:name=".View.DaumWebViewActivity" />
        <activity android:name=".View.PlaceinputActivity" />
        <activity android:name=".View.Service1_TimeActivity" />
        <activity android:name=".View.TermsMoreActivity" />
        <activity android:name=".View.NameinputActivity" />
        <activity android:name=".View.TermsActivity" />
        <activity android:name=".View.PhoneAuthActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.Manager.MapViewActivity" />
        <activity android:name=".View.Manager.demos.CameraDemoActivity" />
        <activity android:name=".View.Manager.demos.EventsDemoActivity" />
        <activity android:name=".View.Manager.demos.LocationDemoActivity" />
        <activity android:name=".View.Manager.demos.MapViewDemoActivity" />
        <activity android:name=".View.Manager.demos.MarkerDemoActivity" />
        <activity android:name=".View.Manager.demos.PolygonDemoActivity" />
        <activity android:name=".View.Manager.demos.runtimePermissions.AppPermissionHandlerActivity" /> <!-- 아래 두개의 서비스 태그를 추가한다. -->
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>